
* {   
    list-style-type: none;
    text-decoration:none;
    box-sizing: border-box;
    text-align: justify;
}   

html {
    height: 100%;
}

body {
    background-image: url(images/bodyimage1.jpg);
   
    
}

.présentation h3 {
    background-color: white;
    padding: 0.5em;
    border-bottom-style:double;
    border-color: #5F5D53;
    text-shadow: #5F5D53 4px 4px 4px;
    border-top-style:double;
    border-width: 0.3em;
    text-align: center;
    font-size: 3.5em;
    font-family:Brush Script MT, Brush Script Std, cursive;
    margin-top: 2.5em;
    
}

.biographie {
    background-color: #f9ecdc;
    border:double 1em #5F5D53;
}

.biographie p {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
}

.first img {
    width: 80%;
    margin-left: 1.5em;
}

.then img {
    width: 80%;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
    
}


.ensemble {
    margin-top: 5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em; 
}

.ensemble img {
     /* Ajuste la largeur des images à 50% de leur taille d'origine */
    max-width: 50em; /* Définit une largeur maximale pour les images */
    height: auto; /* Maintient les proportions des images */
    margin: 10px; /* Ajoute de l'espace autour des images */
}

@media only screen and (max-width: 768px){

.navheader , .navfooter , .logofirst, .navfooterordinateur, .navheaderordinateur, .logoheaderordi, .logofooterordi {
    display:none;
}
 
.ensemble img {
     /* Ajuste la largeur des images à 50% de leur taille d'origine */
    max-width: 20em; /* Définit une largeur maximale pour les images */
    height: auto; /* Maintient les proportions des images */
    margin: 10px;
}
header {   
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(images/backgroundmain.jpg);
    background-repeat:no-repeat;
    background-size: cover;  
    height: 4.8em;
    width: 100%
}

.logotwo {
    height: 155%;
    border-radius:50%;
    margin-top: 3em;
}

.navburger {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color:  rgb(221 , 209 , 188, 0.6);
    height:2em;
    padding-bottom: 4.3em; 
     
}

.navburger p {
    display: flex;
    align-items: center;
    margin-top: 1.2em;
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 1.6em;
    font-weight: bold;
    text-shadow: #5F5D53 4px 4px 4px;
}

.navburger img {
display: flex;
height: 3em;
background-color:transparent;
cursor:pointer;

}        

.button {
background-color: transparent;
border: none;
cursor: pointer;   
margin-top: 1.5em;
}

.button:hover{
transition: all 0.5s;  
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-child {
display: none;
background-color: rgb(225, 225, 225,0.8);
width: 12em;
border: solid #5F5D53;
}

.dropdown-child a { 
text-shadow: #5F5D53 4px 4px 4px;
color: black;
display: block;
font-weight: bold;
font-size: 1em;
text-align: center;
padding: 0.7em;
}

.dropdown:hover .dropdown-child {
display: block;  
}

a:hover {
border: 1px solid #5F5D53;
box-shadow: 10px 5px 5px #5F5D53;
}

.house {
font-size: 1.5em;
}

.présentation h3 {
    background-color: white;
    padding: 0.5em;
    border-bottom-style:double;
    border-color: #5F5D53;
    text-shadow: #5F5D53 4px 4px 4px;
    border-top-style:double;
    border-width: 0.3em;
    text-align: center;
    font-size: 1.5em;
    font-family:Brush Script MT, Brush Script Std, cursive;
    margin-top: 4em;
    
}

.biographie {
    
    background-color: #f9ecdc;
    border:double 0.7em #5F5D53;
    margin: 3em;
}

.biographie p {    
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
}

.first img {
    width: 40%;
    margin-left: 8em;
    
}

.then img {
    width: 40%;
    margin-left: 8em;
    
}

}
    

@media only screen and (min-width:769px) and (max-width:1599px){
    

.navburger, .logotwo , .navheader , .navfooter, .logofirst {
    display: none;
}


header {   
    display: flex;
    align-items: center;
    background-image: url(images/backgroundmain.jpg);
    background-repeat:no-repeat;
    background-size: cover;  
    height: 5.5em;
    margin-top: 1em;
}

.logoheaderordi {    
    border-radius: 50%; 
    height: 10em;
    margin-top: 2.5em;  
}


.navheaderordinateur  {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 3.5em; /*pour qu'on puisse voir le fond de header je definie la hauteur pour qu'elle diminue un peu*/
    background-color: rgb(221 , 209 , 188, 0.6);
}
   
   
.navheaderordinateur a { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    text-shadow: #5F5D53 2px 2px 2px;
    font-size: 1.3em; 
    font-weight: bold;
    
}

.house {
    font-size: 2.2em;
    
}


main {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: 8em;
    margin-top: 4em;
    margin-bottom: 20em;  
}
.présentation h3 {
        background-color: white;
        padding: 0.5em;
        border-bottom-style:double;
        border-color: #5F5D53;
        border-top-style:double;
        text-align: center;
        border-width: 0.2em;
        font-size: 2em;
        font-family:Brush Script MT, Brush Script Std, cursive;
}

.biographie {
    padding: 4em;
    background-color: #f9ecdc;
    border:double 0.4em #5F5D53;
    margin: 5em;
}

.biographie p {
    font-size: 1em;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
}

.first img {
    width: 25%;
    margin-left: 20em;
    
}

.then img {
    width: 25%;
    margin-left: 20em;
    
    
}

footer {
    display: flex;
    align-items: center;
    background-image: url(images/backgroundmain.jpg);
    background-repeat:no-repeat;
    margin-right: 2em; /*effet inverse de la navheader*/
    height: 5em;
    background-size: cover;  
    width: 100%;
}

.navfooterordinateur {
  width: 100%;
}

.navfooterordinateur ul {
    display: flex;
    height: 3em; /*pour qu'on puisse voir le fond de header je definie la hauteur pour qu'elle diminue un peu*/
    justify-content: space-around;
    background-color: rgb(221 , 209 , 188, 0.6);
}

.navfooterordinateur ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navfooterordinateur ul li a {
    color:black;
    text-shadow: #5F5D53 4px 3px 1px;
    font-size: 1.2em; 
    font-weight: bold;
    
}

.logofooterordi {    
    border-radius: 50%; 
    height: 8em;
     
}

}

@media screen and (min-width:1600px) { 

    .navburger, .logotwo, .logofooterordi, .logoheaderordi , .navheaderordinateur, .navfooterordinateur{
        display: none;
    }
    
    
    header {   
        display: flex;
        align-items: center;
        background-image: url(images/backgroundmain.jpg);
        background-repeat:no-repeat;
        background-size: cover;  
        margin-top: 2em;
        margin-left: 2em;
        height: 20em;
    }
    
    header img {    
        border-radius: 50%; 
        height: 30em;
        margin-top: 9em;  
    }
    
    .navheader{
        width: 100%;   
    }
    
    .navheader ul {
        display: flex;
        justify-content: space-around;
        background-color: rgb(221 , 209 , 188, 0.6);
        height: 12em; 
    }
       
       
 
    
    
.navheader ul a { 
        color: black;
        text-shadow: #5F5D53 4px 4px 4px;
        font-size: 4em; 
        font-weight: bold;
        
    }
    
    
    main {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-left: 8em;
        margin-top: 2em;
        margin-bottom: 20em;  
    }
    
    .présentation h3 {
        background-color: white;
        padding: 0.5em;
        border-bottom-style:double;
        border-color: #5F5D53;
        border-top-style:double;
        text-align: center;
        border-width: 20px;
        font-size: 6em;
        font-family:Brush Script MT, Brush Script Std, cursive;
        
    }
    
    .biographie {
        background-color: #f9ecdc;
        border:double 2em #5F5D53;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:5em;
        
    }
    
    .first {
        display: flex;
        flex-direction: column;
    }
    
    .first img {
        width:100%;
        margin-left: 1em;
    }
    
    .then {
        display:flex;
        flex-direction: column;
    }
    
    .then img {
        width: 90%;
        margin-top: 1em;
        
    }
    
    .biographie p {
        font-size: 2em;
        margin-left: 1em;
        font-weight: bold;
    }
    
    
    footer {
        display: flex;
        align-items: center;
        background-image: url(images/backgroundmain.jpg);
        background-repeat:no-repeat;
        margin-right: 2em; /*effet inverse de la navheader*/
        height: 20em;
        background-size: cover;  
    
    }
    
    .navfooter {
        width: 100%;
    }
    
    .navfooter ul {
        display: flex;
        height: 12em; /*pour qu'onn puisse voir le fond de header je definie la hauteur pour qu'elle diminue un peu*/
        justify-content: space-around;
        background-color: rgb(221 , 209 , 188, 0.6);
    }
    
    .navfooter ul li {
        display: flex;
        align-items: center;
    }
    
   
    
    footer img {    
        border-radius: 50%; 
        height: 30em;
        margin-bottom: 7em;  
    }
    
}
